<%= form_with(model: ipdatabases, local: true) do |form| %>

<div class="field">
  <%= form.label :ip_address %>
  <%= form.text_field :ip_address, id: ipdatabase_ip_address%>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
