<%= form_with(model: ip, local: true) do |form| %>


<div class="field">
  <%= form.label :ip_address %>
  <%= form.text_field :ip, id: :ip_ip_address%>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
